.hatch {
  position: relative;
  height: 32px;
  width: 100%;
  overflow: hidden;
}

.hatch::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100vw;
  width: 200vw;
  z-index: -1;
  border-top: 1px solid var(--line);
  border-bottom: 1px solid var(--line);
  background-image: repeating-linear-gradient(
    315deg,
    var(--hatch) 0,
    var(--hatch) 1px,
    transparent 0,
    transparent 50%
  );
  background-size: 10px 10px;
}
